<div class="row">
<ul id="itemsContainer" class="items small-block-grid-1 medium-block-grid-3 large-block-grid-4">
</ul>
<div id="loading" style="display: none"><img src="images/ajax_loader_gray_64.gif" alt="loading animation"></div>
</div>
